.chatContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    position: relative;
    overflow-y: auto;
}
.inputContainer {
    display: flex;
    gap: 4px;
    position: sticky;
    bottom: 0;
    z-index: 999;
    background-color: #fff;
    padding: 8px 0px 0px 0px;
}

.inputContainer textarea {
    width: 100%;
    min-height: 50px;
    max-height: 322px !important;
    padding: 8px 16px 10px 16px;
    font-size: 16px;
    border: none;
    background-color: #F5F5F5;
    border-radius: 8px;
    outline-width: 1px;
    outline-color: #e4e4e4;
    box-sizing: border-box;
    line-height: 200%;
    resize: none;
    font-family: Inter !important;
    field-sizing: content;
}
.inputContainer textarea::placeholder {
    color: #8F8F8F;
}

.inputContainer button {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #242424;
    border-radius: 8px;
    transition: opacity 0.1s;
}
.inputContainer button:hover {
    opacity: 0.9;
}
.inputContainer button:active {
    opacity: 0.8;
}

.messagesContainer {
    flex: 1;
}


.userMessage, .aiMessage {
    display: flex;
    justify-content: flex-end;
    margin: 18px 8px 36px 0px;
}
.userMessage {
    justify-content: flex-end;
}
.aiMessage {
    justify-content: flex-start;
}
.aiMessage p {
    word-wrap: break-word;
    width: 75%;
    padding: 8px 16px;
    margin: 0;
    font-size: 16px;
    line-height: 200%;
    font-family: Inter;
}
.userMessage p{
    word-wrap: break-word;
    background-color: #F5F5F5;
    width: 75%;
    padding: 8px 16px;
    border-radius: 8px;
    margin: 0;
    font-size: 16px;
    line-height: 200%;
    font-family: Inter;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #DDD;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #242424;
    border-radius: 100px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #535353;
  }